.container {
  width: 600px;
  height: 600px;
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 30px;
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  translate:-50% -50%;
}

.container > div {
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: dodgerblue;
  border-radius: 30px;
}